.chapter_name_list {
	list-style-type: none;
	width: var(--body-width);
	border-radius: var(--default-outer-border-radius);
	margin: 0 auto;
	height: 75%;
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 5px;
	padding: 0;
}

.chapter_name_list::-webkit-scrollbar {
	display: none;
}

.chapter_name_list_item {
	margin: 0;
	font-size: 1.7rem;
	font-weight: 100;
	border-radius: var(--default-inner-border-radius);
	background-color: rgb(240, 240, 240);
	margin: 0;
}

.chapter_link {
	display: block;
	text-decoration: none;
	width: 100%;
	padding: 1rem 2.2rem;
	height: 100%;
	color: rgb(70, 70, 70);
}

.chapter_name_list_item:hover {
	background-color: rgb(230, 230, 230);
}