.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	margin: 0 auto;
	padding: 1rem 0;
}

.heading {
	color: black;
	font-size: 2.5rem;
	font-weight: 100;
}

.home_button {
	color: rgb(70, 70, 70);
	text-decoration: none;
	font-family: 'Golos Text', sans-serif;
}